data/worker.ipynb
**/__pycache__
frontend/.next
frontend/src/Example UI.jpeg
**/secrets.env
.venv/
**/__init__.py
migrate_mysql_to_mysql.py
add_foreign_keys.py
.env
# frontend/next.config.js
# frontend/next.config.2.ts